.App {
  text-align: center;
}

.add-reply-com {
  border: 1px solid blue;
  padding: 2px;
  color: blue;
  background-color: rgb(180, 180, 198);
}

.delete-com {
  border: 1px solid red;
  padding: 2px;
  color: red;
  background-color: rgb(235, 191, 191);
}

.display-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.display-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
